*{
  margin: 0;
  padding: 0;
}

body {
  -webkit-text-size-adjust: 100%;
}

.navbar-img{
  height: 3rem;
  width: 3rem;
}



/*================================ Home ================================*/
.home-hero{
  color: #000;
  margin-bottom: 2rem;
}

.home-hero-image{
  height: 60vh;
  width: 100%;
}

.home-hero-image img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.home-content{
  text-align: center;
}

.home-course, .home-hero{
  padding: 2.5rem;
}

.course-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Default layout for desktop */
  gap: 20px;
}

.card {
  border: 1px solid #E4E4E4;
  padding: 20px 20px 5px 20px ;
  text-align: center;
  background-color: #f9f9f9;
  text-decoration: none;
  box-shadow: 2px 2px 5px #E4E4E4;
  transition: all ease .5s;
}

.card:hover{
  box-shadow: none;
}

.card-body{
  padding: 15px 0 0 0;
}

.card .img{
  width: 100%;
  height: 150px;
}

.card img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Responsive layout for tablets */
@media (max-width: 768px) {
  .course-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Responsive layout for phones */
@media (max-width: 576px) {
  .course-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .card {
    padding: 10px 10px 5px 10px ;
  }
  .home-course, .home-hero{
    padding: .5rem;
  }
  
}




/*================================ CSE ================================*/

.cse{
  padding: 3rem 2rem 0 2rem;
  min-height: 100vh;
}

.sem-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.sem-list a{
  list-style: none;
  padding: 1rem;
  background: #E2EAF7;
  text-decoration: none;
  font-weight: 600;
}

.sem-list a {
  text-decoration: none; 
  color: inherit; 
} 

@media (max-width: 600px) {
  .sem-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

@media (max-width: 768px) {
  .sem-list p{
    flex: 1 1 150px;
    margin: .5rem;
  }
  .cse{
    padding: 3rem .7rem 0 .7rem;
  }
}














/*================================ PdfCard ================================*/

.pdf-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 2rem 0 2rem 0 ;
}
@media (max-width: 600px) {
  .pdf-card {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

/*================================ Footer ================================*/
.footer{
  background: #343541;
  text-align: center;
}
.top{
  border-bottom: 2px double #ffffffc0;
  padding: 1rem 3rem;
}

.footer .bottom{
  padding-top: 1rem;
  padding: 1rem 3rem;

}

.footer p{
  color: #fff;
}







/*================================ Spinner ================================*/
.loader-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spin {
  transform-origin: center;
  animation: spin 2s linear infinite;
}

@media (max-width: 600px) {
  .loader-container {
    margin-top: 50px;
  }
}